* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #b8e994;
    padding: 10px;
    border: 1px solid black;
}

body {
    background: #78e08f;
}

.graficos {
    padding: 10px;
}

.grafico {
    margin: 0 auto 20px auto;
    width: 45%;
    height: 45%;
    border-radius: 10px;
    box-shadow: #00000012 0 0 5px 6px;
}

ul {
    list-style: none;
    overflow: hidden;
}

ul li {
    background: rgba(0,0,0,0.9);
    float: left;
    font-size: 30px;
    margin: 0px auto 10px 10px;
    text-align: center;
}

ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

ul li:hover {
    background: #034e3e;
}