* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: #78e08f;
}

img {
    width: 800px;
    height: 600px;
    display: block;
    margin: 45px auto 0px auto;
    border-radius: 50px;
    box-shadow: #00000012 0 0 5px 6px;
}

ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
}

ul li {
    background: rgba(0,0,0,0.9);
    float: left;
    font-size: 24px;
    margin-left: 10px;
    margin-bottom: 10px;
}

ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

ul li:hover {
    background: #034e3e;
}