ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
}

ul li {
    background: rgba(0,0,0,0.9);
    float: left;
    font-size: 18px;
}

ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

ul li:hover {
    background: #3ead47;
}

img {
    width: 320px;
    height: 240px;
}