* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background: #b8e994;
    padding: 10px;
    border: 1px solid black;
}

body {
    background: #78e08f;
}

.formulario {
    padding: 10px;
}

.lugar, .datos-contacto, .info-avistamiento {
    margin-bottom: 10px;
}

.entrada {
    margin: 5px auto;
}

.foto {
    width: 265px;
    position: absolute;
    left: 50px;
}

.boton-agregar {
    position: absolute;
    top: 370px;
    left: 350px;
    cursor: pointer;
}

.boton-avistamiento {
    position: absolute;
    top: 550px;
    margin-left: 10px;
}

.boton-enviar {
    position: absolute;
    top: 620px;
    margin-left: 10px;
}

ul {
    list-style: none;
    overflow: hidden;
}

ul li {
    background: rgba(0,0,0,0.9);
    float: left;
    font-size: 18px;
    text-align: center;
}

ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

ul li:hover {
    background: #034e3e;
}

.subtitulo {
    font-size: 20px;
}

.seleccion {
    font-size: 15px;
}